{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}




<form id="user-info-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" value="{{ name }}" readonly>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" value="{{ email }}" readonly>
  </div>

  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="text" id="phone_number" name="phone_number" value="{{ phone_number }}">
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" name="address" value="{{ address }}">
  </div>

  <button type="button" id="update-user-info">Update Info</button>
</form>
<button id="my-location-button">Встановити моє місце розташування</button>

<h1>Shopping Cart</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item, total in cart_items|zip_lists:totals %}
    <tr id="item-{{ item.id }}">
      <td>{{ item.goods.name }}</td>
      <td>${{ item.goods.price }}</td>
      <td>
        <input type="number" value="{{ item.quantity }}" min="1" class="quantity-input" data-item-id="{{ item.id }}">
      </td>
      <td id="total-{{ item.id }}">
        <p>${{ total|floatformat:2 }}</p>
      </td>
      <td>
        <img
          src="/static/img/remove-icon-png.png"
          alt="Remove"
          width="70" height="70"
          class="remove-cart-item"
          data-item-id="{{ item.id }}"
        />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% with total_to_pay=cart_items|get_total %}
<p>Total to Pay: $<span id="total-to-pay">{{ total_to_pay|floatformat:2 }}</span></p>
{% endwith %}
<!-- Додайте кнопку "Checkout" -->
<button id="checkout-button">Checkout</button>

<div id="address-info">
  <p>Адреса: <span id="address-text">Виберіть місце на карті</span></p>
</div>

<div>
  <label for="from">Адреса магазину:</label>
  <input type="text" id="from">
</div>
<button id="calculate-route-button">Прокласти маршрут</button>
<div id="output"></div>


<!-- Додайте блок для відображення карти -->
<div id="map" style="display: none; width: 80%;
  height: 400px;
  margin: 10px auto;">

</div>









<script>
  var directionsDisplay,
    directionsService,
    map;


  function initMap() {
  const myLatLng = { lat: 51.5074, lng: -0.1278 };

  openMap()
}





  function reverseGeocode(latlng, callback) {
    const geocoder = new google.maps.Geocoder();
    geocoder.geocode({ location: latlng }, function (results, status) {
      if (status === "OK" && results[0]) {
        callback(results[0].formatted_address);
      } else {
        callback("Адреса не знайдена");
      }
    });
  }
  let customerMarker;

  let currentMarker; // Змінна для збереження поточного маркера на карті
  let currentShopMarker;
  var shopLat = {{ lat }};
  var shopLng = {{ lng }};
  var customerLat = {{ user_lat }};
  var customerLng = {{ user_lng }};
  const shopLatLng = {
          lat: shopLat,
          lng: shopLng,
        };

  // Функція для відкриття та обробки карти
  function openMap() {
    const map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: 49.23535, lng: 28.45136 }, // Початкові координати
      zoom: 8, // Зум карти
    });

    currentShopMarker = new google.maps.Marker({
        position: { lat: shopLat, lng: shopLng },
        map: map,
        title: 'Shop',
        draggable: false,
        visible: true,
      });
      reverseGeocode(shopLatLng, function (address) {
        document.getElementById('from').value = address;
      });

    customerMarker = new google.maps.Marker({
        position: { lat: customerLat, lng: customerLng },
        map: map,
        title: 'Customer',
        draggable: true,
        visible: true,
      });

    map.addListener('click', function (event) {
      const latLng = event.latLng;
      if (currentMarker) {
        currentMarker.setMap(null);
      }

      currentMarker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: 'Ваш вибір',
        draggable: true, // Дозволити переміщення маркера
      });

      // Отримайте адресу на основі координат маркера та встановіть її у полі "address"
      reverseGeocode(latLng, function (address) {
        // Встановіть отриману адресу у полі "address"
        document.getElementById('address').value = address;
        document.getElementById('address-text').textContent = address;
      });

      // Додайте обробник події для переміщення маркера та оновлення координат
      currentMarker.addListener('dragend', function (event) {
        const newLatLng = event.latLng;
        console.log('Нові координати: ' + newLatLng.lat() + ', ' + newLatLng.lng());
        // Отримайте адресу на основі нових координат і встановіть її у полі "address"
        reverseGeocode(newLatLng, function (newAddress) {
          document.getElementById('address').value = newAddress;
          document.getElementById('address-text').textContent = newAddress;
        });
      });
    });

    // Відобразіть карту
    document.getElementById('map').style.display = 'block';
  }

  // Функція для закриття карти
  function closeMap() {
    // Сховайте карту
    document.getElementById('map').style.display = 'none';

    // Очистіть попередній маркер (якщо він існує)
    if (currentMarker) {
      currentMarker.setMap(null);
    }
  }


  // Отримайте посилання на кнопку за її id
  const myLocationButton = document.getElementById('my-location-button');

// Додайте обробник події для кнопки
  myLocationButton.addEventListener('click', function () {
    // Отримайте місце розташування користувача (геолокацію)
    console.log("Button clicked");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        const userLatLng = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        // Очистіть попередній маркер (якщо він існує)
        if (currentMarker) {
          currentMarker.setMap(null);
        }


        // Створіть новий маркер на місці розташування користувача
        currentMarker = new google.maps.Marker({
          position: { lat: position.coords.latitude, lng: position.coords.longitude },
          map: map,
          title: 'Ваше місце',
          draggable: true,
        });

        // Отримайте адресу на основі координат маркера та встановіть її у полі "address"
        reverseGeocode(userLatLng, function (address) {
          // Встановіть отриману адресу у полі "address"
          document.getElementById('address').value = address;
          document.getElementById('address-text').textContent = address;
        });

       });
    } else {
      alert('Ваш браузер не підтримує геолокацію.');
    }
  });



/// Отримайте посилання на кнопку "Показати адреси магазинів"
document.getElementById('calculate-route-button').addEventListener('click', function () {

  // Викликаємо функцію для отримання адреси магазину при кліку на кнопку
  calcRoute(map);
});

//define calcRoute function
function calcRoute(map) {
  //create a DirectionsService object to use the route method and get a result for our request
  var directionsService = new google.maps.DirectionsService(map);

  //create a DirectionsRenderer object which we will use to display the route
  directionsDisplay = new google.maps.DirectionsRenderer(map);

  //bind the DirectionsRenderer to the map
  directionsDisplay.setMap(map);

  //create request
  var request = {
    origin: document.getElementById("from").value, // Адреса магазину
    destination: document.getElementById("address").value, // Адреса клієнта
    travelMode: google.maps.TravelMode.DRIVING, // Режим подорожі (DRIVING, WALKING, BYCYCLING, TRANSIT)
    unitSystem: google.maps.UnitSystem.IMPERIAL
  }

  //pass the request to the route method
  directionsService.route(request, function (result, status) {
  console.log(status)
  console.log(result)

    if (status == google.maps.DirectionsStatus.OK) {
      // Відобразіть маршрут на карті та виведіть інформацію про маршрут
      directionsDisplay.setDirections(result);
      const output = document.querySelector('#output');
      output.innerHTML = "<div class='alert-info'>From: " + document.getElementById("from").value + ".<br />To: " + document.getElementById("address").value + ".<br /> Driving distance <i class='fas fa-road'></i> : " + result.routes[0].legs[0].distance.text + ".<br />Duration <i class='fas fa-hourglass-start'></i> : " + result.routes[0].legs[0].duration.text + ".</div>";
    } else {
      // Виведіть повідомлення про помилку, якщо маршрут не може бути прокладений
      directionsDisplay.setDirections({ routes: [] });
      //center map in London (центруйте карту в певних координатах, якщо потрібно)
      map.setCenter(myLatLng); // myLatLng - це ваші початкові координати
      const output = document.querySelector('#output');
      output.innerHTML = "<div class='alert-danger'><i class='fas fa-exclamation-triangle'></i> Could not retrieve driving distance.</div>";
    }
  });
}


</script>

<script>
  $(document).ready(function () {
    // Функція для оновлення сторінки без перезавантаження кешу
    function refreshPage() {
      location.reload();
    }

    $(".quantity-input").on("input", function () {
      const itemId = $(this).data("item-id");
      const newQuantity = $(this).val();
      $.ajax({
        type: "POST",
        url: "{% url 'services:update_cart_item' %}",
        data: {
          item_id: itemId,
          new_quantity: newQuantity,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Оновлюємо відповідну частину сторінки з оновленою інформацією про кошик
          $("#total-" + itemId).html(data.updated_total_html);
          // Оновлюємо "Total to Pay" на сторінці
          $("#total-to-pay").text(data.total_to_pay);
          // Запускаємо таймер для оновлення сторінки через 1 секунду
          setTimeout(refreshPage, 1000);
        },
      });
    });

    $(".remove-cart-item").on("click", function () {
      const itemId = $(this).data("item-id");
      $.ajax({
        type: "POST",
        url: "{% url 'services:remove_cart_item' %}",
        data: {
          item_id: itemId,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Видаляємо відповідний рядок зі сторінки
          $("#item-" + itemId).remove();
          // Оновлюємо "Total to Pay" на сторінці
          $("#total-to-pay").text(data.total_to_pay);
          // Запускаємо таймер для оновлення сторінки через 1 секунду
          setTimeout(refreshPage, 1000);
        },
      });
    });

    // Обробник події для кнопки "Checkout"
    $("#checkout-button").on("click", function () {
      // Відправляємо AJAX-запит для створення замовлення і очищення кошика
      $.ajax({
        type: "POST",
        url: "{% url 'services:order_create' %}",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Після успішного створення замовлення і очищення кошика,
          // ви можете перенаправити користувача на сторінку замовлення або виконати інші дії
          alert("Order created successfully!");
          // Приклад перенаправлення користувача на сторінку замовлення
          window.location.href = "{% url 'services:order_list' %}";
        },
      });
    });
  });
</script>

<script>
  $(document).ready(function () {
    // Функція для оновлення інформації користувача
    function updateUserInfo() {
      const newPhoneNumber = $("#phone_number").val();
      const newAddress = $("#address").val();

      $.ajax({
        type: "POST",
        url: "{% url 'services:update_user_info' %}",
        data: {
          phone_number: newPhoneNumber,
          address: newAddress,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          if (data.success) {
            alert("User information updated successfully!");
          } else {
            alert("Failed to update user information.");
          }
        },
      });
    }

    // Обробник події для кнопки "Update Info"
    $("#update-user-info").on("click", updateUserInfo);
  });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuQVzkZf_ol0JaqLrh-PTzZDKnJgEYAUo&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

