{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block content %}


<form id="user-info-form">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" value="{{ name }}" readonly>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" value="{{ email }}" readonly>
  </div>

  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="text" id="phone_number" name="phone_number" value="{{ phone_number }}">
  </div>

  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" name="address" value="{{ address }}">
  </div>

  <button type="button" id="update-user-info">Update Info</button>
</form>
<button type="button" id="my-location-button">Встановити моє місце розташування</button>

<h1>Shopping Cart</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_items %}
    <tr id="item-{{ item.id }}">
      <td>{{ item.goods.name }}</td>
      <td>${{ item.goods.price }}</td>
      <td>
        <input type="number" value="{{ item.quantity }}" min="1" class="quantity-input" data-item-id="{{ item.id }}">
      </td>
      <td>{{ item.goods.price|multiply:item.quantity }}</td>
      <td>
        <img
          src="/static/img/remove-icon-png.png"
          alt="Remove"
          width="70" height="70"
          class="remove-cart-item"
          data-item-id="{{ item.id }}"
        />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>



{% with total_to_pay=cart_items|get_total %}
<p>Total to Pay: $<span id="total-to-pay">{{ total_to_pay|floatformat:2 }}</span></p>
{% endwith %}

<p>Total Amount with Discount: <span id="total-amount">{{ discount_amount|floatformat:2 }}</span></p>

<form method="post" id="coupon-form">
  {% csrf_token %}
  <input type="text" id="coupon-code" name="coupon_code" placeholder="Enter coupon code">
  <button id="apply-coupon-button" type="button">Apply Coupon</button>
</form>



<button type="button" id="checkout-button" data-sitekey="6LcLr2woAAAAAO4Lae1NLFiDXsz4kbNOUZBqk7GV">Checkout</button>
<div id="recaptcha" data-sitekey="6LcLr2woAAAAAO4Lae1NLFiDXsz4kbNOUZBqk7GV"></div>




<div id="address-info">
  <p>Адреса: <span id="address-text">Виберіть місце на карті</span></p>
</div>

<div>
  <label for="from">Адреса магазину:</label>
  <input type="text" id="from">
</div>
<button id="calculate-route-button">Прокласти маршрут</button>

<p><span id="output"></span></p>


<!-- Додайте блок для відображення карти -->
<div id="map" style="width: 80%; height: 400px; margin: 10px auto;"></div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  const checkoutButton = document.getElementById("checkout-button");

  if (checkoutButton) {
    checkoutButton.addEventListener("click", onClick);
  }

  function onClick(e) {
    e.preventDefault();
    grecaptcha.enterprise.ready(async () => {
      const token = await grecaptcha.enterprise.execute('6LcLr2woAAAAAO4Lae1NLFiDXsz4kbNOUZBqk7GV', {action: 'LOGIN'});
      // IMPORTANT: The 'token' that results from execute is an encrypted response sent by
      // reCAPTCHA Enterprise to the end user's browser.
      // This token must be validated by creating an assessment.
      // See https://cloud.google.com/recaptcha-enterprise/docs/create-assessment
    });
  }
});
</script>

<script>
function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 8,
    center: { lat: 49.23535, lng: 28.45136 },
  });
  const directionsService = new google.maps.DirectionsService();
  const directionsRenderer = new google.maps.DirectionsRenderer({
    draggable: false,
    map,
  });

  function reverseGeocode(latlng, callback) {
    const geocoder = new google.maps.Geocoder();
    geocoder.geocode({ location: latlng }, function (results, status) {
      if (status === "OK" && results[0]) {
        callback(results[0].formatted_address);
      } else {
        callback("Адреса не знайдена");
      }
    });
  }

  let customerMarker;

  let currentMarker; // Змінна для збереження поточного маркера на карті
  let currentShopMarker;
  var shopLat = {{ lat }};
  var shopLng = {{ lng }};
  var customerLat = {{ user_lat }};
  var customerLng = {{ user_lng }};
  const shopLatLng = {
          lat: shopLat,
          lng: shopLng,
        };
  const customerLatLng = {
          lat: customerLat,
          lng: customerLng,
        };
  const myLocationButton = document.getElementById('my-location-button');

  reverseGeocode(shopLatLng, function (address) {
        document.getElementById('from').value = address;
      });

  customerMarker = new google.maps.Marker({
        position: { lat: customerLat, lng: customerLng },
        map: map,
        title: 'Customer',
        draggable: true,
        visible: true,
      });
  reverseGeocode(customerLatLng, function (address) {
        document.getElementById('address').value = address;
        document.getElementById('address-text').textContent = address;
      });

  customerMarker.addListener('dragend', function(event) {
  const newLatLng = event.latLng;
  reverseGeocode(newLatLng, function(address) {
    document.getElementById('address').value = address;
    document.getElementById('address-text').textContent = address;
  });
});

  myLocationButton.addEventListener('click', function () {
    // Отримайте місце розташування користувача (геолокацію)
    console.log("Button clicked");
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function (position) {
        const userLatLng = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        // Очистіть попередній маркер (якщо він існує)
        if (customerMarker) {
          customerMarker.setMap(null);
        }


        // Створіть новий маркер на місці розташування користувача
        customerMarker = new google.maps.Marker({
          position: { lat: position.coords.latitude, lng: position.coords.longitude },
          map: map,
          title: 'Ваше місце',
          draggable: true,
        });

        // Отримайте адресу на основі координат маркера та встановіть її у полі "address"
        reverseGeocode(userLatLng, function (address) {
          // Встановіть отриману адресу у полі "address"
          document.getElementById('address').value = address;
          document.getElementById('address-text').textContent = address;
        });

       });
    } else {
      alert('Ваш браузер не підтримує геолокацію.');
    }
  });

  map.addListener('click', function(event) {
    // Отримайте координати місця кліку
    const clickedLatLng = event.latLng;

    // Перемістіть маркер customerMarker в нове місце кліку
    customerMarker.setPosition(clickedLatLng);

    // Отримайте адресу на основі нових координат та відображайте її
    reverseGeocode(clickedLatLng, function(address) {
      document.getElementById('address').value = address;
      document.getElementById('address-text').textContent = address;
    });
  });

  directionsRenderer.addListener("directions_changed", () => {
    const directions = directionsRenderer.getDirections();

    if (directions) {
      computeTotalDistance(directions);
    }
  });
  displayRoute(
    { lat: shopLat, lng: shopLng },
    { lat: customerLat, lng: customerLng },
    directionsService,
    directionsRenderer,
  );
}


document.getElementById('calculate-route-button').addEventListener('click', function () {
   window.location.href = "{% url 'services:shopping_cart' %}";
});


function displayRoute(origin, destination, service, display) {
  service
    .route({
      origin: origin,
      destination: destination,
      travelMode: google.maps.TravelMode.DRIVING,
      avoidTolls: true,
      unitSystem: google.maps.UnitSystem.IMPERIAL,
    })
    .then((result) => {
      display.setDirections(result);
      const output = document.querySelector('#output');
    })
    .catch((e) => {
      alert("Could not display directions due to: " + e);
    });
}

function computeTotalDistance(result) {
  let total = 0;
  const myroute = result.routes[0];

  if (!myroute) {
    return;
  }

  for (let i = 0; i < myroute.legs.length; i++) {
    total += myroute.legs[i].distance.value;
  }

  total = total / 1000;
  output.innerHTML = "<div class='alert-info'>From: " + document.getElementById("from").value + ".<br />To: " + document.getElementById("address").value + ".<br /> Driving distance <i class='fas fa-road'></i> : " + total + " km" + ".<br />Duration <i class='fas fa-hourglass-start'></i> : " + result.routes[0].legs[0].duration.text + ".</div>";
}

window.initMap = initMap;

</script>





<script>

  $(document).ready(function () {
    // Функція для оновлення сторінки без перезавантаження кешу
    function refreshPage() {
      location.reload();
    }

    $(".quantity-input").on("input", function () {
      const itemId = $(this).data("item-id");
      const newQuantity = $(this).val();
      $.ajax({
        type: "POST",
        url: "{% url 'services:update_cart_item' %}",
        data: {
          item_id: itemId,
          new_quantity: newQuantity,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Оновлюємо відповідну частину сторінки з оновленою інформацією про кошик
          $("#total-" + itemId).html(data.updated_total_html);
          // Оновлюємо "Total to Pay" на сторінці
          $("#total-to-pay").text(data.total_to_pay);
          // Запускаємо таймер для оновлення сторінки через 1 секунду
          setTimeout(refreshPage, 1000);
        },
      });
    });

    $(".remove-cart-item").on("click", function () {
      const itemId = $(this).data("item-id");
      $.ajax({
        type: "POST",
        url: "{% url 'services:remove_cart_item' %}",
        data: {
          item_id: itemId,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Видаляємо відповідний рядок зі сторінки
          $("#item-" + itemId).remove();
          // Оновлюємо "Total to Pay" на сторінці
          $("#total-to-pay").text(data.total_to_pay);
          // Запускаємо таймер для оновлення сторінки через 1 секунду
          setTimeout(refreshPage, 1000);
        },
      });
    });

    // Обробник події для кнопки "Checkout"
    $("#checkout-button").on("click", function () {
    grecaptcha.enterprise.execute('6LcLr2woAAAAAO4Lae1NLFiDXsz4kbNOUZBqk7GV', { action: 'checkout' }).then(function (token) {
      // Відправляємо AJAX-запит для створення замовлення і очищення кошика
      $.ajax({
        type: "POST",
        url: "{% url 'services:order_create' %}",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          // Після успішного створення замовлення і очищення кошика,
          // ви можете перенаправити користувача на сторінку замовлення або виконати інші дії
          alert("Order created successfully!");
          // Приклад перенаправлення користувача на сторінку замовлення
          window.location.href = "{% url 'services:order_list' %}";
        },
        },
      });
    });
  });
</script>

<script>
  var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
  $(document).ready(function () {
    // Функція для оновлення інформації користувача
    function updateUserInfo() {
      const newPhoneNumber = $("#phone_number").val();
      const newAddress = $("#address").val();

      $.ajax({
        type: "POST",
        url: "{% url 'services:update_user_info' %}",
        data: {
          phone_number: newPhoneNumber,
          address: newAddress,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        success: function (data) {
          if (data.success) {
            alert("User information updated successfully!");
          } else {
            alert("Failed to update user information.");
          }
        },
      });
    }

    // Обробник події для кнопки "Update Info"
    $("#update-user-info").on("click", updateUserInfo);
  });
</script>
<script>
$(document).ready(function () {
  // Перевіряємо, чи є збережений купон у локальному сховищі
  var savedCoupon = localStorage.getItem('coupon_code');
  if (savedCoupon) {
    $('#coupon-code').val(savedCoupon); // Встановлюємо значення поля введеного купону
  }

  // При кліку на кнопку "Apply Coupon"
  $('#apply-coupon-button').click(function () {
    var couponCode = $('#coupon-code').val(); // Отримання введеного коду купона
    if (couponCode) {
      // Зберігаємо введений купон у локальному сховищі
      localStorage.setItem('coupon_code', couponCode);

      // Виклик AJAX-запиту для валідації купона
      $.ajax({
        type: 'POST',
        url: "{% url 'services:apply_coupon' %}",
        data: {
          'coupon_code': couponCode,
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        dataType: 'json', // Очікуємо відповідь у форматі JSON
        success: function (data) {
          // Log the data to the console
          console.log(data);

          if (data.success) {
            var discountAmount = parseFloat(data.discount_amount); // Перетворення на число
            $("#total-amount").text(discountAmount.toFixed(2));
            alert("Coupon successfully applied!");
          } else {
            alert("Failed to apply coupon.");
          }
        },
        error: function () {
          alert('An error occurred while applying the coupon.');
        }
      });
    }
  });
});



</script>



{% endblock %}