{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<div class="row">
    <div class="col-sm-2">
        {% block sidebar %}
            {% include "includes/sidebar.html" %}
        {% endblock %}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Goods in this Shop</h2>
        {% if goods %}
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <!-- Додайте інші поля товарів, якщо вони є -->
                </tr>
                {% for good in goods %}
                    <tr>
                        <td>{{ good.id }}</td>
                        <td>{{ good.name }}</td>
                        <td>{{ good.price }}</td>
                        <!-- Додайте інші поля товару, якщо вони є -->
                        <td>
                            <button class="add-to-cart" data-good-id="{{ good.id }}">Add to Cart</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no goods in this shop.</p>
        {% endif %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Обробник натискання на кнопку "Add to Cart"
        $(".add-to-cart").on("click", function() {
            var goodId = $(this).data("good-id");

            $.ajax({
                type: "POST",
                url: "{% url 'services:add_to_cart' %}",
                data: {
                    goods: goodId,
                    csrfmiddlewaretoken: "{{ csrf_token }}"
                },
                success: function(response) {
                    // Ваш код для обробки успішного додавання товару до кошика
                    // Наприклад, відобразити повідомлення або оновити інформацію про кошик
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Ваш код для обробки помилки під час виконання запиту
                }
            });
        });
    });
</script>

{% endblock %}
