{% extends "base.html" %}

{% block content %}
  <h1>Order List</h1>
  <table>
    <thead>
      <tr>
        <th>Order Number</th>
        <th>Date Created</th>
        <th>Total Amount</th>
        <th>Total Amount wih discount</th>
        <th>User</th> <!-- Додано стовпець для імені користувача -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.created_at|date:"Y-m-d H:i:s" }}</td>
          <td>${{ order.total_amount }}</td>
          <td>${{ order.total_with_discount }}</td>
          <td>{{ order.user.username }}</td> <!-- Додано відображення імені користувача -->
          <td>
            <a href="{% url 'services:order_detail' order.id %}">View Details</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No orders available.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
