{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ customer.username }}


    <a href="{% url 'user:customer-update' pk=customer.id %}" class="btn btn-primary link-to-page">
      Update info
    </a>
    <a href="{% url 'user:customer-delete' pk=customer.id %}" class="btn btn-danger link-to-page">
      Delete user
    </a>


  </h1>

  <p><strong>Name:</strong> {{ customer.name }}</p>
  <p><strong>Email:</strong> {{ customer.email }}</p>
  <p><strong>phone number:</strong> {{ customer.phone_number }}</p>
  <p><strong>Address:</strong> {{ customer.address }}</p>


{% endblock %}
