{% extends "base.html" %}

{% block content %}
  <h1>
    Username: {{ customer.username }}
    {% if user == customer.user %}
    <a href="{% url 'user:customer-update' pk=customer.id %}" class="btn btn-primary link-to-page">
      Update Customer
    </a>
    <a href="{% url 'user:customer-delete' pk=customer.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    {% endif %}

  </h1>

  <p><strong>First name:</strong> {{ customer.first_name }}</p>
  <p><strong>Last name:</strong> {{ customer.last_name }}</p>
  <p><strong>Is staff:</strong> {{ customer.is_staff }}</p>


{% endblock %}
